.add-todo-item-card {
  background: #F6F9FB;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.add-todo-item-card .add-todo-item-input {
  margin: 10px;
  border-radius: 5px;
}

.add-todo-item-card .add-todo-item-button {
  width: fit-content;
  border-radius: 5px;
  margin: 10px;
}