.todo-list {
  background: #D6EAF8;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 10px solid #F6F9FB;
  height: fit-content;
}

.todo-list .todo-list-heading {
  display: flex;
  justify-content: center;
}