body {
  font-family: "PingFang SC",-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,
  sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans-serif;
  padding: 36px;
  background-color: #F6F9FB;
}

/* .container {
  margin-top: 22px;
  margin-bottom: 22px;
} */

.container .cross-icon {
  margin-left: auto;
  cursor: pointer;
}